<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<rewrite>
				<rules>
					<rule name="Redirect to Swagger" stopProcessing="true">
						<match url="^$" />
						<action type="Redirect" url="https://api.jdpodroze.pl/swagger" />
					</rule>
				</rules>
			</rewrite>
			<aspNetCore processPath="dotnet" arguments=".\JDPodrozeAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
	</system.webServer>
</configuration>
<!--ProjectGuid: ad099625-7933-404f-ab5c-ecf29b7d6208-->